.signup-form {
    padding: 25px;
    border-radius: 10px;
    margin: 50px auto;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-top: 10px;
}

.signup-form input, .signup-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

#message-container {
    padding: 10px;
    background-color: #d4edda;
    margin: auto;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 15px;
    width: fit-content;
  }