{% extends "base.html" %}
{% load static %}
{% block extra_links %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="{% static 'js/massage.js' %}"></script>
{% endblock %}
{% block content %}
      <main>
        {% include "usernav.html" %}
        {% if messages %}
        <div id="message-container">
            {% for message in messages %}
            <h5 class="text-center text-danger">{{ message | safe }}</h5>
            {% endfor %}
        </div>
        {% endif %}
        <div class="signup-form box" id="boxes">
            <form method="post">
                {% csrf_token %}
                <h2 align="center">Change Password</h2>
                <!-- old password -->
                <label for="id_old_password">Old Password:</label>
                <input type="text" name="old_password" id="id_old_password" placeholder="Enter Old password" required>
                <!-- new Password -->
                <label for="id_new_password">New Password:</label>
                <input type="password" name="new_password" id="id_new_password" placeholder="Enter new password" required>
                <!-- confirm Password -->           
                <label for="id_confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="id_confirm_password" placeholder="Enter confirm password" required>                

                <hr>
                <button type="submit">Change Password</button>
            </form>
      </main>
{% endblock %}